
http://api.perpixai.com {
	reverse_proxy http://perpixai-api:8000
}

http://app.perpixai.com {
	reverse_proxy http://perpixai-app:80
}

http://cdn-dashboard.perpixai.com {
	reverse_proxy http://minio:9001
}

http://cdn.perpixai.com {
	reverse_proxy http://minio:9000
}

http://manager-comodo.perpixai.com {
	reverse_proxy http://core:9120
}

http://perpixai.com {
	reverse_proxy http://landing-root:80
}
