(cors_perpixai) {
	@allowed_origin header_regexp Origin ^https?:

	header @allowed_origin {
		-Access-Control-Allow-Origin
		-Access-Control-Allow-Credentials
		-Access-Control-Allow-Methods
		-Access-Control-Allow-Headers

		Access-Control-Allow-Origin "{http.request.header.Origin}"
		Access-Control-Allow-Credentials "true"
		Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
	}

	@preflight {
		method OPTIONS
		header_regexp Origin ^https?:
	}

	handle @preflight {
		header {
			-Access-Control-Allow-Origin
			-Access-Control-Allow-Credentials
			-Access-Control-Allow-Methods
			-Access-Control-Allow-Headers

			Access-Control-Allow-Origin "{http.request.header.Origin}"
			Access-Control-Allow-Credentials "true"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
		}
		respond "" 204
	}
}



http://api.perpixai.com {
	import cors_perpixai
	reverse_proxy http://perpixai-api:8000
}


http://app.perpixai.com {
	import cors_perpixai
	reverse_proxy http://perpixai-app:80
}


http://cdn-dashboard.perpixai.com {
	import cors_perpixai
	reverse_proxy http://minio:9001
}


http://cdn.perpixai.com {
	import cors_perpixai
	reverse_proxy http://minio:9000
}


http://manager-comodo.perpixai.com {
	import cors_perpixai
	reverse_proxy http://core:9120
}




http://perpixai.com {
	import cors_perpixai
	reverse_proxy http://landing-root:80
}

