services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    environment:
      MINIO_ROOT_USER: ${OBJECT_STORAGE_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${OBJECT_STORAGE_SECRET_KEY}
    restart: on-failure
    networks:
      - turing

volumes:
  minio-data:

networks:
  turing:
    external: true
